.post {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    margin: 10px;
}

img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    padding-top: 10px;
}
button {
    transition: transform 0.33s !important;
    background-color: #61dafb;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
/* reset default button css  */
.btn-reset {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color: #282c34;
}

button:hover {
    transform: scale(1.02);
}
